name: Test
on:
  push:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # チェックアウトとビルドのため
    steps:
      # setup
      - uses: actions/checkout@master
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: ".node-version"
          cache: "pnpm"
      - name: setup
        run: pnpm install --frozen-lockfile

      # test
      - name: test
        run: pnpm run test
